@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
$accent-color: #58c5a4;

.nav_container {
    position: relative;
    text-align: center;
}

.navigation {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.open {
    font-family: 'Nunito', sans-serif;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgb(206, 206, 206);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    overflow: hidden;
}

.nav_icon{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
}

.icon {
    width: 30px;
    height: auto;
}

.icon_margins {
    margin: 1rem 0;
    width: 35px;
    height: auto;
}

.hide_icon {
    width: 100%;
    display: none;
}

.show {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a {
        font-family: 'Bebas Neue', cursive;
        margin: 1.5rem;
        color: $accent-color;
        font-size: 55px;
    }
}

.links {
    display: none;
}

@media screen and (min-width: 1300px) {
    .nav_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .exit_menu_container {
        display: none;
    }

    .navigation {
        display: flex;
        width: 100%; height: unset;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        position: relative;
        z-index: unset;
        overflow: unset;
    }

    .nav_icon {
        display: none;
    }

    .links {
        margin: 0;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .list_item {
        font-family: 'Bebas Neue', cursive;
        margin: 1.5rem;
        color: rgb(88, 197, 164);
        font-size: 35px;
        position: relative;
        cursor: pointer !important;

        &:hover:after {
            color: white;
            transform: scaleX(1);
            transform-origin: bottom left;
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 4px;
            bottom: 0;
            left: 0;
            background-color: $accent-color;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

    }
}
