@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.container {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  -webkit-animation: 1s ease-out 0s 1 slideInLeft; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: 1s ease-out 0s 1 slideInLeft; /* Firefox < 16 */
  -ms-animation: 1s ease-out 0s 1 slideInLeft; /* Internet Explorer */
  -o-animation: 1s ease-out 0s 1 slideInLeft; /* Opera < 12.1 */
  animation: 1s ease-out 0s 1 slideInLeft;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 1.5rem 1rem 1rem 1rem;

  img {
    width: 45px;
    height: auto;
  }
}

@media only screen and (min-width: 1300px) {
  .container {
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }

  .logo {
    display: flex;
    justify-content: center;
    padding: 1.5rem;

    img {
      width: 45px;
      height: auto;
    }
  }
}
