$accent-color: #58c5a4;

.side_nav_container {
    display: block;

    ul {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 5px 5px 15px 5px;
        list-style: none;

        li {
            display: list-item;
            padding: 5px;

            a {
                img {
                    width: 35px; height: auto;
                }
            }
        }
    }
}

@media only screen and (min-width: 1460px) { 
    .side_nav_container {
        width: 40px;
        position: fixed;
        bottom: 0px;
        left: 40px;
        right: auto;
        z-index: 10;
        orientation: left;
        display: block;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;

            &:after {
                content: "";
                display: block;
                width: 1px;
                height: 90px;
                margin: 0px auto;
                background-color: #fff;
            }

            li {
                display: list-item;
                //text-align: -webkit-match-parent;

                a {
                    padding: 10px;
                    display: inline-block;
                    text-decoration: none;
                    text-decoration-skip-ink: auto;
                    color: inherit;
                    position: relative;
                    //transition: var(--transition);

                    img {
                        width: 25px;
                        height: 25px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}