$accent-color: #58c5a4;

.resume_section {

}

.resume_button_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.resume_button{
    border: 3px solid $accent-color;
    border-radius: 4px;
    padding: 1.25rem;
    background-color: transparent;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 220px;
    text-align: center;
    p {
        margin: 0;
        padding: 0;
        color: #fff;
    }
}

@media only screen and (min-width: 1300px) {
    .resume_section {
        margin: 5px;
        margin-top: 600px;
        margin-bottom: 500px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .resume_button_container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .resume_button{
        border: 3px solid $accent-color;
        border-radius: 4px;
        padding: 1.25rem;
        background-color: transparent;
        margin-top: unset;
        margin-left: unset;
        width: 300px;
        height: 80px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $accent-color;
        }

        p {
            margin: 0;
            padding: 0;
            color: #fff;
            font-size: 20px;
        }
    }
}