$accent-color: #58c5a4;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.hero_container {
    margin: 5px;
    margin-bottom: 15rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;

    .title {
        font-size: 13px;
        font-family: 'Quicksand', sans-serif;
        
        h1 {
            margin: 0;
            color: $accent-color;
        }
    }

    .name {
        font-size: 45px;
        font-family: 'Kanit', sans-serif;
        color: rgb(212, 212, 212);

        h3 {
            margin: 0;
        }
    }

    .catchphrase {
        font-size: 28px;

        h3 {
            margin: 0;
            color: rgba(207, 204, 204, 0.404);
        }
    }

    .about {
        font-size: 18px;
        font-family: 'Quicksand', sans-serif;
        color: #ffffff;
        padding-top: 5px;

        p {
            margin: 0;
            padding: 0;
        }
    }
}

.hero_img {
    margin: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 0px;
        height: auto;
    }
}

.resume_button {
    border: 1.5px solid $accent-color;
    border-radius: 4px;
    padding: 1.25rem;
    background-color: transparent;
    margin-top: 10rem;
    text-align: center;
    p {
        margin: 0;
        padding: 0;
        color: #fff;
    }
}


@media only screen and (min-width: 1300px) {
    .hero_container {
        margin: 5px;
        margin-bottom: 15rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .info {
        margin: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .title {
            font-size: 13px;
            font-family: 'Quicksand', sans-serif;
            
            h1 {
                margin: 0;
                color: $accent-color;
            }
        }

        .name {
            font-size: 45px;
            font-family: 'Kanit', sans-serif;
            color: rgb(212, 212, 212);

            h3 {
                margin: 0;
            }
        }

        .catchphrase {
            font-size: 28px;

            h3 {
                margin: 0;
                color: rgba(207, 204, 204, 0.404);
            }
        }

        .about {
            font-size: 18px;
            font-family: 'Quicksand', sans-serif;
            color: #ffffff;
            padding-top: 5px;

            p {
                margin: 0;
                padding: 0;
            }
        }
    }

    .hero_img {
        margin: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 900px;
            height: auto;
        }
    }

    .resume_button {
        border: 2px solid $accent-color;
        border-radius: 4px;
        padding: 1.25rem;
        background-color: transparent;
        margin-top: 10rem;
        text-align: center;
        p {
            margin: 0;
            padding: 0;
            color: #fff;
        }
    }
}