@mixin white-gradient {
	background: linear-gradient(to right,  #58c5a4 -100%,rgba(255, 255, 255, 0) 30%);
}

$animationSpeed: 15s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-105px * 7))}
}


// Styling
.slider {
	background: #242222;
	height: 400px;
	max-width: 800px;
	margin: auto;
	overflow:hidden;
	position: relative;
	
	&:before,
	&:after {
		@include white-gradient();
		content: "";
		position: absolute;
		height: 100%;
		width: 20%;
		z-index: 2;
	}
	
	&:after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&:before {
		left: 0;
		top: 0;
	}
	
	.slide_track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: 100%;
	}
	
	.slider_item {

		.img {
			height: auto;
			width: 105px;
			padding: 5px;
		}
	}
}